.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:#d9d9d9; 
    overflow-y: scroll;

  }
  
  .div{
    width: 100%;
    height: 100%;
  }

  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    flex: 1;
    max-width: 700px; /* Increase the size of the card */
    margin-right: 30px; /* Add more space between card and sidebar */
  }
  
  .navbar {
    top: 0;
    height: 100px;
    background-color: #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px; 
  }

  .card{
    height: 500px;
    width: 100px;
    color: #000000;
    /* margin-top: 4%; */
    margin-right: 8%;
  }

  .navList{
   display: flex;
    width: 100%;
    color: white;
    justify-content: center; /* Center items in the navbar */
  align-items: center;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #ffffff;
    width: 20%;
    height: 100%;
    margin-top: 5%;
    border-radius: 15px;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
  }
  
  hr {
    border: none; /* Remove default border */
    border-top: 2px solid #000; /* Line thickness and color */
    margin: 20px 0; /* Space around the line */
    width: 80%; /* Full width of the container */
  }

  
  .sidebar input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    gap: 10%;
  }
  
  .container .heading{
    color: black;
    right: 0;
  }

  .sidebar input::placeholder {
    color: hsl(0, 0%, 0%); 
    font-size: 16px; 
    font-family: Arial, sans-serif;
    font-weight: 400; 
    text-align: center;
  }

  .sidebar button {
    padding: 10px;
    background-color: #774c9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar button:hover {
    background-color: #5e3a8b;
  }


  .h1 {
    display: inline-block; /* Allows padding and margin to work like a button */
    font-weight: 200;
    font-size: 20px;
    color: #000000; /* Text color */
    background-color: #f9f9f9; /* Button background color */
    padding: 10px 20px; /* Padding for button size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center text inside button */
    transition: background-color 0.3s, transform 0.2s; /* Smooth background color and transform transitions */
  }
  
  .h1:hover {
    background-color: #dedede; /* Darker background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  .h1:active {
    background-color: #004080; /* Even darker background color when button is clicked */
    transform: scale(0.98); /* Slightly shrink the button when clicked */
  }
  
  .optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .optionButton {
    background-color: #2b73de;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .optionButton:hover {
    background-color: #2a60b2;
  }
  

  .h3:hover {
    background-color: #2a60b2;
  }

  .navList h4{
    text-decoration: none;
  }
  .container1{
    padding-top: 10px;
    color: #000;
    padding-right: 70%;
    font-size:x-large;
  }

 
  .container2{
    color: #000;
    padding-right: 40%;
    padding-top: 20%;
    font-size:x-large;
    width: 50%;
  }

.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #C777D4;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
  }
  
  /* Ensure the container aligns properly */
  .container1, .container2 {
    margin-bottom: 20px;
  }
  
  /* Style the dropdown label */
  .container2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Container for buttons */
.buttonContainer1, .buttonContainer2 {
    margin: 10px 0; /* Adjust margin as needed */
    text-align: center; /* Center the buttons horizontally */
  }
  
  /* Style for 'New Poll+' button */
  .newPollButtonPlus1,  .newPollButtonPlus2 {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .newPollButtonPlus1:hover,.newPollButtonPlus2:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  /* Style for 'New Poll' button */
  .newPollButton1, .newPollButton2 {
    background-color: #008CBA; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .newPollButton1:hover, .newPollButton2:hover {
    background-color: #007bb5; /* Darker blue on hover */
  }

/* Container for buttons */
.divison {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-start; /* Align buttons to the top left */
    margin: 10px; /* Optional: Adjust margin as needed */
    padding: 10px; /* Optional: Adjust padding as needed */
  }
  
  /* Style for 'New Poll+' button container */
  .buttonContainer1 {
    margin-bottom: 10px; /* Space between the two buttons */
  }
  
  /* Style for 'New Poll+' button */
  .newPollButtonPlus1 {
    background-color: #000000; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .newPollButtonPlus1:hover {
    background-color: #4a4949; /* Darker green on hover */
  }
  
  /* Style for 'New Poll' button container */
  .buttonContainer2 {
   display: flex;
   flex-direction: row;
  }
  
  .newPollButton2:hover {
    background-color: #c5bfbf; /* Darker blue on hover */
  }
  
  .newPollButton2 {
    display: flex;
    align-items: center; /* Center align the items vertically */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #f9f9f9; /* Button background color */
    color: rgb(0, 0, 0); /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .iconStyle {
    margin-right: 8px; /* Space between icon and text */
    font-size: 18px; /* Adjust icon size if needed */
  }
  

  .flexing{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

  }

  .pollIdContainer {
    margin-top: 2000px; /* Space above the Poll ID */
  }
  
  .pollId {
    font-size: 16px; /* Font size for the Poll ID */
    color: #000000; /* Text color for the Poll ID */
    font-weight: bold; /* Make the Poll ID text bold */
  }
  