/* Dashboard.module.css */
.container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
}

.div3 {
  display: flex;
  flex-direction: column;
}
.text {
  position: relative;
  z-index: 10;
  font-size: 50px;
  font-weight: bold;
  background: rgba(119, 76, 158, 0.7);
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: white;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 10%;
  gap: 20%;
}

.button {
  background-color: #774c9e;
  width: 15rem;
  color: white;
  border: none;
  padding: 10px 20px;
  top: 100%;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  transition: background-color 0.3s;
  margin-top: 500px;
  border-radius: 20px;
}

.button1 {
  background: linear-gradient(
    to right,
    #f1cf2f,
    #f68f82,
    #f966b8
  ); /* Gradient for the first button */
}

.button2 {
  background: linear-gradient(
    to right,
    #512486,
    #6a65b1,
    #788ccb
  ); /* Gradient for the second button */
}
