:root {
    font-size: 16px; 
}

.footer {
    z-index: 1;
    background-color: black;
    padding: 1.25rem; 
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: auto;
    display: flex;
    gap: 5rem; 
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 0 0.625rem; 
    font-size: 1.875rem; 
    color: #333;
}

.downloadCvButton {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 0.625rem 1.25rem; 
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.downloadCvButton:hover {
    background-color: #0056b3; 
}

.contact {
    font-size: 3.75rem;
    font-weight: bold;
}

.div {
    display: flex;
    align-items: center; 
    gap: 0.625rem;
}

.h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.25rem; 
    margin: 0; 
    color: rgb(255, 255, 255); 
    margin-bottom: 1.25rem;
}

.socials {
    display: flex;
    margin-top: 1.875rem; 
}

.icon {
    font-size: 2.5rem; 
    color: #ff004e; 
    margin: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.downloadCvButton {
    background-color: #ff004e;
    color: white;
    width: 15.625rem; 
    padding: 1.25rem 1.25rem; 
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    margin-top: 2.5rem; 
}

.downloadCvButton:hover {
    
    background-color: #e60047;
    
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.875rem; /* 30px */
    background-color: black; /* Black background for the form container */
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.form {
    padding-top: 3.125rem; /* 50px */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 37.5rem; /* 600px */
}

.formGroup {
    margin-bottom: 0.9375rem; /* 15px */
}

.formGroup input,
.formGroup textarea {
    margin-bottom: 0.625rem; /* 10px */
    width: 34.375rem; /* 550px */
    padding: 1.25rem; /* 20px */
    border: 0.0625rem solid #262626; /* 1px */
    border-radius: 0.25rem; /* 4px */
    background-color: #262626; /* Background color of input fields */
    color: #ffffff; /* White text color for input fields */
    font-size: 1rem; /* 16px */
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
    color: #524b4b; /* White color for placeholder text */
    font-size: 1.25rem; /* 20px */
}

.formGroup textarea {
    resize: vertical; /* Allow vertical resizing only */
    min-height: 12.5rem; /* 200px */
}

.submitButton {
    background-color: #ff004e; /* Button background color */
    color: white; /* Text color */
    border: none;
    padding: 1.25rem; /* 20px */
    font-size: 1.25rem; /* 20px */
    cursor: pointer;
    border-radius: 0.3125rem; /* 5px */
    width: 15.625rem; /* 250px */
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #d1124e; /* Darker shade for hover effect */
}

.div2 {
    display: flex;
    flex-direction: column;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stack items vertically on small screens */
        gap: 0.625rem; /* 10px */
        padding: 0.625rem; /* 10px */
        justify-content: flex-start;
     
    }

    .icon {
        font-size: 1.5rem; /* 24px */
        margin: 0 0.3125rem; /* 5px */
    }

    .downloadCvButton {
        width: 12.5rem; /* 200px */
        padding: 0.625rem; /* 10px */
        font-size: 0.875rem; /* 14px */
        margin-top: 1.25rem; /* 20px */
    }

    .contact {
        font-size: 2.25rem; /* 36px */
    }

    .formContainer {
        padding: 0.625rem; /* 10px */
        font-size: 1.25rem; /* 20px */
    }

    .formGroup input,
    .formGroup textarea {
        width: 30rem;
        font-size: 0.875rem; /* 14px */
        padding: 0.625rem; /* 10px */
    }

    .submitButton {
        width: 12.5rem; /* 200px */
        padding: 0.625rem; /* 10px */
        font-size: 1.5rem; /* 16px */
    }
}

/* Styles for very small screens (e.g., phones in portrait mode) */
@media (max-width: 480px) {
    .footer {
        padding: 0.3125rem; /* 5px */
    }

    .icon {
        font-size: 1.25rem; /* 20px */
        margin: 0 0.1875rem; /* 3px */
    }

    .downloadCvButton {
        width: 14rem; /* 150px */
        padding: 0.5rem; /* 8px */
        font-size: 0.75rem; /* 12px */
    }

    .contact {
        font-size: 1.875rem; /* 30px */
    }

    .formContainer {
        font-size: 1.125rem; /* 18px */
    }

    .formGroup input,
    .formGroup textarea {
        font-size: 0.75rem; /* 12px */
        padding: 0.5rem; /* 8px */
    }

    .submitButton {
        width: 13rem; /* 150px */
        padding: 0.5rem; /* 8px */
        font-size: 0.875rem; /* 14px */
    }
}
