/* resultsPage.module.css */
.resultsPage {
    background-color: white; /* Set background color to white */
    color: #333; /* Set text color for better readability */
    padding: 20px; /* Add padding around the content */
    height: 100vh; /* Ensure the height covers the full viewport height */
    box-sizing: border-box; /* Include padding in the element's total width and height */
  }
  
  h1 {
    font-size: 2rem; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space between heading and content */
  }
  
  p {
    font-size: 1rem; /* Adjust font size for paragraphs */
  }
  