.container {
    background: linear-gradient(
      to bottom,
      #0E3F5D,
      #55A7D7,
      #55A7D7
    );
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Use auto to allow scrolling when necessary */
  }
  
  .h1 {
    color: black;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-self: center;
  }
  
  .navbar {
    border-radius: 20px;
    margin-top: 5%;
    background: white;
    height: auto; /* Set to auto to accommodate varying content height */
    width: 90%; /* Adjust width to be more responsive */
    max-width: 800px; /* Set a max-width for larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 3rem; /* Adjusted for better scaling */
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
  }
  
  .formGroup {
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .formGroup label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #000000;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 100;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: #088fde;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton:hover {
    background-color: #05507a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Media Queries for Responsiveness */
  
  @media (max-width: 768px) {
    .navbar {
      width: 95%;
    }
  
    .title {
      font-size: 2.5rem;
    }
  
    .form {
      max-width: 90%;
    }
  
    .submitButton {
      max-width: 100%;
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      width: 100%;
      height: auto;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .form {
      max-width: 100%;
    }
  
    .submitButton {
      max-width: 100%;
      font-size: 14px;
    }
  }
  