
.pageContainer {
    background-color: white;
    min-height: 100%; /* Allows for scrolling if content exceeds viewport */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: scroll;
}

.formContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.875rem; /* 30px */
    background-color: black; /* Black background for the form container */
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.heading {
    font-size: 250%;
    color: black;
    padding-bottom: 15px;
    width: 40%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
    margin-top: 5%;
    box-sizing: border-box;
    position: relative;

}

.heading::before {
    content: '';
    position: absolute;
    left: -10%;
    bottom: 0;
    width: 120%;
    height: 5px;
    background-color: black;
    z-index: -1;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for the first row */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    gap: 20px; /* Space between images */
    padding-top: 8%;
}

.image {
    width: 65%; /* Full width of the grid cell */
    height: 80%; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure images cover the cell */
}
.image4 {
    padding-left: 50%;
}
.image5 {
    padding-left: 60%;
}

.div2{
    width: 100%;
    height: 100%;
}