.whiteBackground {
    background-color: white;
    height: 100%; /* Ensure it covers the full height of the viewport */
    width: 100%;
    padding: 20px; /* Optional: Add some padding */
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000; 
    overflow-x: hidden;
    height: 10%;
    right: 0;
  }
  
  .navList {
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items horizontally */
  }
  
  .flexing {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out items evenly */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width to ensure proper spacing */
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .flexing a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Bold text */
    padding: 10px 15px; /* Add padding around each link */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  
  .flexing a:hover {
    background-color: #555; /* Darker background on hover */
    color: #ddd; /* Lighter text color on hover */
    border-radius: 5px; /* Rounded corners for the hover effect */
  }
  
  .h1 {
    margin: 0; /* Remove default margin */
    font-size: 38px; /* Adjust font size */
  }
  
  .icon {
    color: white; /* Icon color */
    font-size: 36px; /* Increase icon size here */
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.3s; /* Smooth transition for hover effect */
  }
  
  .icon:hover {
    color: #ddd; /* Lighter icon color on hover */
  }
  
  /* Input Section Styles */
  .inputSection {
    margin: 20px auto; /* Center the section with some margin */
    text-align: center;
    width: 90%;
    max-width: 600px; /* Restrict the maximum width */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px; /* Add more space below the label */
    color: #333;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    max-width: 500px; /* Ensure the input does not stretch too wide */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Space between input and button */
    box-sizing: border-box;
  }
  
  .addButton {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .addButton:hover {
    background-color: #a6aeb1;
  }
  
  .addButton:active {
    transform: scale(0.98);
  }
  
  /* Poll ID Input Section */
  .inputSection1 {
    margin: 20px 0;
    display: flex;
    background: #a6aeb1;
    padding: 10px;
    width: 60%;
    border-radius: 50px;
  }
  
  .label1 {
    display: block;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-left: 10%;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  
  .input2 {
    display: block;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-left: 10%;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  
  .input1 {
    width: 40%; /* Adjust width as needed */
    max-width: 400px; /* Optional: Limit maximum width */
    padding: 8px;
    margin-left: 10%;
    font-size: 16px;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Questions Container Styles */
  .questionsContainer {
    margin-top: 20px; /* Space between the input section and the questions */
    width: 90%;
    max-width: 600px; /* Restrict the maximum width */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align text and button to opposite sides */
    background-color: #D9D9D9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; /* Space between questions */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .question span {
    font-size: 16px;
    color: #333;
    flex: 1; /* Take up available space */
  }
  
  .createdOn {
    font-size: 12px;
    color: #666;
    margin-right: 10px;
  }
  
  .deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #e74c3c; /* Red color for delete button */
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .deleteButton:hover {
    color: #c0392b; /* Darker red color on hover */
  }
  
  .deleteButton:focus {
    outline: none; /* Remove default focus outline */
  }
  
  .resultsLink {
    color: #3498db;
    font-size: 14px;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .resultsLink:hover {
    text-decoration: underline;
  }
  
 /* Add this to vote.module.css */

.activePollsHeading {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-top: 40px; /* Space between Poll ID section and heading */
    margin-bottom: 60px; /* Space between heading and questions */
    text-align: center; /* Center the heading text */
    text-decoration: underline; /* Add underline to the text */
  }
  