@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Paytone+One&display=swap");
.App {
  height: 90vh;
  display: flex;
  background: linear-gradient(to bottom, #480c77 30%, #f28f8f 83%);
  color: white;
  overflow: hidden;
}
#register {
  font-family: "Paytone One", sans-serif;
}
